.Section {
    min-width: 10%;
    max-width: 600px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.Section_white, .Section_black {
    width: 92px;
    height: 41px;
    
    font-size: 18px;
    font-weight: 400;

    border-radius: 10px;
}

.Section_white:hover {
    background-color: #5f5f5f;
    transition: all 0.5s;
}

.Section_black:hover {
    background-color: #cfcfcf;
    transition: all 0.5s;
}

.Section_white {
    border: 2px solid #000000;
    background-color: #ffff;
}

.Section_black {
    border: 2px solid #ffff;
    background-color: #000000;
    color: #ffff;
}
.Section_className_second {
    background-color: #000000;
}
